.contenedor {
	border: 2px solid black;
    margin: 0 auto;
    display: flex;
	align-items: center;
	justify-content: space-between;
   
   
}
.item1 {
    width: 150px;
	height: 150px;
    background:rgb(24, 221, 123);
	color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item2 {
    width: 150px;
	height: 150px;
    background: rgb(179, 80, 204);
	color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.item3 {
    width: 150px;
	height: 150px;
	background:rgb(231, 66, 116);
	color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}